DB_PASSWORD=secret
DB_USERNAME=myuser
DB_URL=jdbc:postgresql://localhost:5432/mydatabase

JWT_EXPIRATION=86400000
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_URL=https://your-project.supabase.co